<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
  </include>

  <!-- Arguments for the model's position -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.5"/>

  <!-- Spawn the model in Gazebo using the .sdf file -->
  <node name="my_model_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file '$(find my_robot_description)/models/iris.sdf' -sdf -model my_model -x $(arg x) -y $(arg y) -z $(arg z)" />
</launch>
